
.faq-container {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.faq-title {
  text-align: center;
  font-size: 2.5rem;
  color: #262626;
  margin-bottom: 30px;
}

/* Accordion styling */
.accordion {
  margin-bottom: 15px;
}


.FAQ-title {
  display: flex;
  justify-content: space-between;
  background-color: #1fb899;
  color: #fff;
  padding: 1px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.FAQ-title:hover {
  background-color: #17a38b;
}

.faqQuestion{
  margin-top: 20px;
  color: #272727;
}

/* Toggle button styling */
.expandToggle {
  background-color: #fff;
  color: #1fb899;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  padding: 0.2rem 0.6rem;
  font-size: 1rem; 
  width: 30px; 
  height: 30px; 
  margin-right: 1px; 
  margin-top: 5px; 
  position: relative;
  top: 14px; 
}

.expandToggle:hover {
  background-color: #f7f7f7;
}

/* FAQ content hidden by default */
.FAQ-content {
  display: none;
  background-color: #d9f0ea;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: #1c1c1c;
  font-size: 1rem;
  line-height: 1.6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.FAQ-content {
  display: none; /* Ensure FAQ content is hidden by default */
}
.expandToggle {
  cursor: pointer; /* Change cursor to pointer for toggle */
}

.accordion{
  background-color: aliceblue;

}
/* .expandToggle{
  background-color: #1fb899;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
} */