.FAQ-content {
  display: none; /* Ensure FAQ content is hidden by default */
}
.expandToggle {
  cursor: pointer; /* Change cursor to pointer for toggle */
}

.accordion{
  background-color: aliceblue;
}
.expandToggle{
  background-color: #1fb899;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}