.faq-section {
  max-width: 760px;
  margin: 0 auto;
  color: #1fb899;
}

header {
  margin-bottom: 70px;
  color: #1fb899;
}

.down-arrow {
  color: #1fb899;
}

header > p {
  font-size: 22px;
  color: #1fb899;
}

h2 {
  font-size: 52px;
  margin-top: 40px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

details {
  cursor: pointer;
  color: black;
  width: 100%;
}

summary:focus-visible {
  outline: 2px solid orange;
  outline-offset: 8px;
  border-radius: 4px;
  color: #1fb899;
}

h4 {
  color: black;
  flex-grow: 1;
  margin: 0;
  transition: transform 0.3s ease; 
}

summary {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #1fb899;
  width: 100%;
}

summary::marker {
  display: none;
  content: "";
  color: #1fb899;
}

span {
  margin-left: 10px;
  flex-shrink: 0;
  color: #1fb899;
}

details > p {
  max-width: 100%;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: .1px;
  margin-bottom: 40px;
  padding-left: 10px;
  color: #1fb899;
}

hr {
  border: 1px solid #404E5C;
  margin-block-end: 30px;
  color: #1fb899;
}


details[open] p {
  display: block; 
  height: auto;   
  opacity: 1;     
  transition: height 0.5s ease, opacity 0.5s ease; 
}

details p {
  display: block; 
  height: 0;      
  overflow: hidden; 
  opacity: 0;     
  transition: height 0.5s ease, opacity 0.5s ease; 
}

/* Hover effect */
details:hover summary h4 {
  transform: translateY(-4px); 
  color: #00796b; 
}

.arrow {
  transition: transform 0.3s ease;
}


details[open] .arrow {
  transform: rotate(180deg); 
}
