/* General Footer Styling */
.footer-container {
  background-color: #1f2937;
  color: #ffffff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  /* min-width: 1520px; */
}

/* Logo and Tagline */
.footer-logo-section {
  text-align: center;
  margin-bottom: 30px;
}
.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.footer-logo-section p {
  margin: 5px 0;
  font-size: 0.95rem;
}
.follow-us {
  margin-top: 10px;
  font-weight: bold;
}

/* Social Media Icons */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0.2rem solid #26c9bb;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #26c9bb;
  text-decoration: none;
}

.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #26c9bb;
  box-shadow: 0 0 25px #26c9bb;
}

/* Footer Link Sections */
.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 100px;
}
.footer-column {
  flex-basis: 20%;
  margin-bottom: 10px;
}
.footer-column h4 {

  font-size: 1rem;
  margin-bottom: 10px;
  color: #12e9cc;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 8px;
}
.footer-bottom ul li a {

  color: #12e9cc;
  text-decoration: none;
  font-size: 0.95rem;
  
}
.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}

/* Footer Bottom Links */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-bottom ul li {
  display: inline-block;
  margin: 0 15px;
}
.footer-bottom ul li a {
  color: #12e9cc;
  text-decoration: none;
  font-size: 0.95rem;
}
.footer-bottom ul li a:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    flex-basis: 100%;
    text-align: center;
  }
}
